:root {
--accient-color: #FF6C00;
--text-color: rgba(157, 164, 189, 0.6);
}

.header{
padding-top: 40px;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 680px;
    background-position: center top;
    padding-bottom: 40px;
}
.header-box{

}
body {
 font-family: "Open Sans", sans-serif;
}
.container{

}
.list-nav {
display: flex;
}
.item-nav{
    margin-right: 30px;
}
.contacts{
    display: flex;
    margin-left: auto;
    gap: 40px;
}
.nav{
display: flex;
margin-bottom: 184px;
}
.link-nav:hover{
    color: var(--accient-color);
}
.link-contact:hover{
    color: var(--accient-color);
}

.item-contact{
    padding-left: 254px;
    padding-right: 40px;
}
.link-nav{
    color: white;
}
.link-contact{
      color: white;
}
.link-order:hover{
    color: var(--accient-color);
}
.link-order{
border: 1px solid #ff6c00;
border-radius: 25px;
font-weight: 600;
font-size: 12px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: white;
width: 160px;
height: 40px;
padding: 12px 20px 12px 20px;
}
li:last-child{
    margin-right: 0;
}
.info{
    font-weight: 600;
font-size: 11px;
text-transform: uppercase;
color: var(--text-color);
display: flex;
align-items: center;
gap: 7px;
}
.info:before{
        content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: gray;
}
.header-title{
font-weight: 700;
font-size: 72px;
letter-spacing: 0.05em;
color: #fff;
margin: 20px 0 20px 0;
}
.about-work{
    font-weight: 400;
font-size: 18px;
line-height: 167%;
letter-spacing: 0.02em;
color: #9da4bd;
width: 357px;
}

.info-box{

padding-left: 100px;
margin-bottom: 144px;

}

.moving{
display: flex;
justify-content: end;

}

.back{
    font-weight: 600;
font-size: 11px;
letter-spacing: 0.1em;
color: rgba(157, 164, 189, 0.6);
padding-right: 24px;
text-align: right;
}
.back:after{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: gray;
    margin-top: 8px;

}
.forward::after{
        content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: white;
    margin-top: 8px;
}
.forward{
    font-weight: 600;
font-size: 11px;
letter-spacing: 0.1em;
text-align: right;
color: #fff;
}

.info-sub-title{
    font-weight: 700;
font-size: 42px;
letter-spacing: 0.05em;
color: #303030;
}


.info-text{
    font-weight: 400;
font-size: 18px;
line-height: 167%;
letter-spacing: 0.02em;
color: #555;
margin-bottom:20px ;
width: 470px;
}

.info-title{
    font-weight: 700;
font-size: 42px;
letter-spacing: 0.05em;
color: #303030;
    width: 470px;
    margin-bottom: 20px;
}

.info-about-us{
    font-weight: 400;
font-size: 14px;
line-height: 186%;
letter-spacing: 0.02em;
color: #555;
margin-bottom: 42px;
width: 470px;
}


.order-online{
    font-weight: 600;
font-size: 12px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #303030;
border: 1px solid #ff6c00;
border-radius: 25px;
width: 160px;
height: 40px;
}

.about{
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-box{
    display: flex;
    gap: 30px;
}
.info-sub-text{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.info-sub-text:before{
        content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: gray;
 
}

.price-sub-text{
    font-weight: 600;
font-size: 11px;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}

.price-title{
    font-weight: 700;
font-size: 42px;
letter-spacing: 0.05em;
color: #fff;
}

.price-button{
    font-weight: 600;
font-size: 12px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #fff;
}